@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="">
    <a asp-controller="Navbar" asp-action="add" target="_blank" class="btn btn-secondary">Add new Navbar</a>
</div>
<div class="">
    <a asp-controller="SubNavbar" asp-action="add" target="_blank" class="btn btn-secondary">Add new Subnavbar</a>
</div>
